.about {
    /* padding: 15px 40px; */
    background: #fff;
    margin-bottom: 50px;
    width: 1200px;
    margin: 0 auto;
    /* height: calc(100vh - 64px); */
}

.about h3 {
    padding: 0 0 14px;
    text-align: left;
}
.about .left .bg-about {
    height: 200px;
    /* background-image: url('http://ptprm6anf.bkt.clouddn.com/bg-about.png'); */
    background-image: url('http://about.nbceres.com/bg-about.png');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
}
.con{
    display: flex;
}
.about .right {
    /* margin-top: 40px; */
}
.right p {
    text-align: left;
    line-height: 2;
}
.about-text-con{
    width: 60%;
}
.about-img-con{
    margin-left: 24px;
    width: 40%;
}
.adward-con{
    display: flex;
    height: 240px;
    margin-bottom: 12px;
}
.about-img-item{
    display: inline-block;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.adward-mj{
    background-image: url('http://home.nbceres.com/adward-mj.jpg?imageMogr2/auto-orient');
}
.adward-zj{
    background-image: url('http://home.nbceres.com/adward-zj.jpg?imageMogr2/auto-orient');
}
.about-auth{
    height: 240px;
    background-image: url('http://home.nbceres.com/auth.jpg');
    background-position: center;
}

@media screen and (max-width: 800px){
    .about {
        padding: 20px;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
    }
    .about .right {
        width: 100%;
        margin-top: 20px;
    }
    .right p {
        font-size: 14px;
        text-align: left;
        line-height: 2;
    }
    .about .con {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .about .left {
        margin-bottom: 10px;
        /* padding-right: 15px; */
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }
    .about .left .bg-about {
        height: 100px;
        background-image: url('http://about.nbceres.com/bg-about.png');
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
    }
    .about-img-con{
        margin-top: 24px;
        width: 100%;
    }
}
